.default {
	background-color: #f3f3f3;
	height: calc(100% - 6px);
	margin: auto;
	margin-top: 6px;
	overflow: auto;
	text-align: center;
	h1,
	h2 {
		color: $darkgreen;
		font-family: $display;
		letter-spacing: 0.05em;
		line-height: 1.25em;
		text-transform: uppercase;
	}
	h1 {
		font-size: 2em;
		font-weight: 700;
		color: $blue;
		letter-spacing: 0.1em;
		padding: 1em 0;
		position: absolute;
		text-align: center;
		width: 100%;
	}
	h2 {
		font-weight: 300;
	}
	&::after,
	form {
		display: inline-block;
		vertical-align: middle;
	}
	&::after {
		content: '';
		height: 100%;
		margin-left: -0.25em;
	}
	form {
		background-color: white;
		border: 1px solid #ccc;
		border-radius: 4px;
		box-sizing: border-box;
		max-width: 98%;
		padding: 1.5em;
		text-align: left;
		color: black;
		label {
			color: $blue;
			display: block;
			font-size: 12px;
			letter-spacing: 0.05em;
			line-height: 1.75em;
			margin-top: 1em;
			text-transform: uppercase;
		}
		button {
			font-family: $display;
			margin-top: 0.5em;
		}
	}
	a {
		color: $blue;
		&:hover {
			color: $lightblue;
		}
	}
	p {
		font-weight: 300;
		font-size: 1em;
		letter-spacing: 0.025em;
		line-height: 1.25em;
		margin: 1em 0;
	}
}

@media (min-width: 500px) {
	.default form {
		max-width: 450px;
	}
}