body {
	background: $blue;
	font-family: 'Lato', sans-serif;
	color: white;
	transition: background-color 1s ease-in-out;
	&.user {
		background-color: $green;
		height: auto;
	}
	&.overflow {
		overflow: hidden;
	}
}

h1 {
	font-family: 'Varela Round', sans-serif;
	font-weight: 400;
	text-transform: uppercase;
}

.container {
	box-sizing: border-box;
	transition: transform 0.5s ease-in-out;
	opacity: 0;
	transform: translate3d(0, 20rem, 0);
	height: 100%;
    &.adding,
    &.deleting {
        overflow: hidden;
        height: 100% !important;
    }
	&.default,
	&.home {
		opacity: 1;
		transform: translate3d(0, 0, 0);
		padding: 1em;
	}
	&.default {
		height: 100%;
		max-width: 800px;
		margin: auto;
		overflow: auto;
		text-align: center;
		&::after,
		header {
			display: inline-block;
			vertical-align: middle;
		}
		&::after {
			content: '';
			height: 100%;
			margin-left: -0.25em;
		}
		header {
			max-width: 99%;
		}
		p {
			font-weight: 300;
			font-size: 1.25em;
		}
	}
	header {
		text-align: center;
		h1,
		h2,
		h3 {
			font-size: 1.25em;
			line-height: 3rem;
		}
		h1 {
			font-size: 3em;
		}
		h2 {
			font-size: 1.5em;
			font-weight: 900;
		}
	}
	&.home {
		padding-top: 4em;
	}
}

.new-yum,
.yums span,
.yums .edit-yum,
.yums div.hidden,
.add {
	display: none;
	&.visible {
		display: block;
	}
}

.modal {
	background: rgba(0, 0, 0, 0.5);
	position: fixed;
	width: 100%;
	height: 100%;
	z-index: 20;
	overflow: auto;
	text-align: center;
	top: 0;
	left: 0;
	form {
		box-shadow: 0.5em 0.5em 0.5em rgba(0,0,0,0.15);
		min-width: 33%;
		max-width: 80%;
	}
	h1 {
		color: black;
		margin-bottom: 1em;
	}
	&::after,
	form {
		display: inline-block;
		vertical-align: middle;
	}
	&::after {
		content: '';
		height: 100%;
		margin-left: -0.25em;
	}
	form {
		display: inline-block;
		background: white;
		padding: 1em;
		border-radius: 0.5em;
	}
}