body {
	font-family: 'Lato', sans-serif;
	box-sizing: border-box;
	padding: 1em;
}

h1 {
	font-family: 'Varela Round', sans-serif;
	font-weight: 400;
	text-transform: uppercase;
}

.container {
	box-sizing: border-box;
	&.default{
		height: 100%;
		overflow: auto;
		text-align: center;
		&::after,
		header {
			display: inline-block;
			vertical-align: middle;
		}
		&::after {
			content: '';
			height: 100%;
			margin-left: -0.25em;
		}
		header {
			max-width: 99%;
		}
	}
	header {
		text-align: center;
		h1,
		h2,
		h3 {
			line-height: 3rem;
		}
		h1 {
			font-size: 3em;
		}
		h2 {
			font-size: 1.5em;
		}
	}
}

.new-yum,
.yums span,
.yums .edit-yum,
.yums div.hidden,
.add {
	display: none;
	&.visible {
		display: block;
	}
}

.edit-yum {
	input,
	textarea {
		display: block;
	}
}